<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">

    <div class="container card card-outline card-primary" *ngIf="isAdmin===false">
      <div class="card-header text-center">
          <a [routerLink]="['/']" class="h1">Calculate Hours & Energy Consumption against User</a>
      </div>
      <div class="card-body">
        <app-barchart></app-barchart>
      </div>
      <div class="card-footer">
      </div>
    </div>
</section>

