
Backend/Smart Metering Device Simulator/.vs/Smart Metering Device Simulator/FileContentIndex/18cad466-f917-4e05-9c1c-3c2b780d5505.vsidx
Backend/OnlineEnergyUtilityPlateform/OnlineEnergyUtilityPlateform/obj/Debug/net6.0/OnlineEnergyUtilityPlateformAPI.GeneratedMSBuildEditorConfig.editorconfig
