<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/826c81cd-7f82-4a1a-b4e2-eb75b896f271/resourcegroups/Ale-resource/providers/Microsoft.Web/sites/OnlineEnergyUtilityPlateformAPI20221104213154</ResourceId>
    <ResourceGroup>Ale-resource</ResourceGroup>
    <ApiResourceId>/subscriptions/f813ecd9-c616-4bae-8f8f-102e3b319ca0/resourceGroups/ale-server_group/providers/Microsoft.ApiManagement/service/OnlineEnergyUtilityPlateformAPIapi/apis/OnlineEnergyUtilityPlateformAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlineenergyutilityplateformapi20221104213154.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>029ba872-e419-4418-9c7e-97879a1d38db</ProjectGuid>
    <MSDeployServiceURL>onlineenergyutilityplateformapi20221104213154.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnlineEnergyUtilityPlateformAPI20221104213154</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$OnlineEnergyUtilityPlateformAPI20221104213154</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>